/* /BlazorComp/Champions/ChampionOverlay.razor.rz.scp.css */
.overlay-background[b-4y26lmw32u] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-panel[b-4y26lmw32u] {
    background: #111;
    border-radius: 12px;
    border: 2px solid var(--riot-gold6);

    width: 80vw;
    max-width: 1000px;
    height: 80vh;
    max-height: 900px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

    .overlay-panel[b-4y26lmw32u]::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.55); 
        pointer-events: none;
        z-index: 0;
    }
    .overlay-panel > *[b-4y26lmw32u] {
        position: relative;
        z-index: 1; 
    }

.overlay-panel-header[b-4y26lmw32u] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    background: var(--riot-hextechblack);
    height: 32px;
}

    .overlay-panel-header .title[b-4y26lmw32u] {
        font-size: 16px;
        font-weight: 600;
        color: var(--riot-gold4)
    }
.tab-btn[b-4y26lmw32u] {
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 4px;
}

    .tab-btn.active[b-4y26lmw32u] {
        background: #4287f5;
        color: white;
    }

.close-btn[b-4y26lmw32u] {
    top: 10px;
    right: 10px;
    background: #aa0000;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}


.overlay-question-content[b-4y26lmw32u] {
    padding: 15px;
    border-radius: 4px;
    gap: 20px;
    overflow-y: auto;
    z-index: 9999;
}

.overlay-champion-content[b-4y26lmw32u] {
    padding: 15px;
    border-radius: 4px;
    display: flex;
    gap: 20px;
    overflow-y: auto;
    z-index: 9999;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
    .overlay-champion-content > :first-child[b-4y26lmw32u] {
        flex: 1 1 20%;
        min-width: 0;
    }

    .overlay-champion-content > :last-child[b-4y26lmw32u] {
        flex: 4 1 80%;
        min-width: 0;
    }


.spells-column[b-4y26lmw32u] {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.spell-card[b-4y26lmw32u] {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    background: var(--riot-hextechblack);
    border: 1px solid var(--riot-gold6);
    border-radius: 8px;
    transition: transform 0.2s ease;
}

    .spell-card:hover[b-4y26lmw32u] {
        transform: scale(1.05);
    }

    .spell-card img[b-4y26lmw32u] {
        width: 50px;
        height: 50px;
    }

    .spell-card.selected[b-4y26lmw32u] {
        background: var(--riot-grey5);
        border: 2px solid var(--riot-gold4);
        transform: scale(1.05);
    }

.spell-details[b-4y26lmw32u] {

}

.spell-description[b-4y26lmw32u] {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    background: #1e1e1e;
    border-radius: 2px;
    border: 1px solid var(--riot-gold4);
}

video[b-4y26lmw32u] {
    background-color: black;
    min-height: 400px;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

@media(max-width: 768px) {
    video[b-4y26lmw32u] {
        min-height: 100px;
    }

    .overlay-panel[b-4y26lmw32u] {
        width: 90vw;
    }

    .overlay-panel-header[b-4y26lmw32u] {

    }

        .overlay-panel-header button[b-4y26lmw32u] {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: none;
            font-size: 3vw;
        }
        .overlay-panel-header .tab-btn[b-4y26lmw32u] {
            width: none;
            font-size: 4vw;
        }
         
    .overlay-panel-header .title[b-4y26lmw32u] {
        font-size: clamp(10px, 4vw ,16px)
    }


    .overlay-champion-content[b-4y26lmw32u] {
        display: block;
    }



    .spell-description[b-4y26lmw32u] {
        font-size: 12px;
    }

    .spell-card img[b-4y26lmw32u] {
        width: 25px;
        height: 25px;
    }

    .spell-card span[b-4y26lmw32u] {

    }

    .spells-column[b-4y26lmw32u] {
        width: 30%;
        display: contents;
        flex-direction: row;
        gap: 2px;
    }

    .tab-content[b-4y26lmw32u] {
        display: grid;
        gap: 5px;
    }

}
/* /BlazorComp/Champions/ParameterOverlay.razor.rz.scp.css */
.parameter-overlay-background[b-iyatp241u5] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.parameter-overlay-panel[b-iyatp241u5] {
    background: var(--riot-blue5);
    border-radius: 12px;
    border: 1px solid var(--riot-gold5);

    width: 80vw;
    max-width: 1000px;
    height: 80vh;
    max-height: 900px;
    overflow: hidden;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

    .parameter-overlay-panel[b-iyatp241u5]::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.55);
        pointer-events: none;
        z-index: 0;
    }

    .parameter-overlay-panel > *[b-iyatp241u5] {
        position: relative;
        z-index: 1;
    }

.parameter-overlay-panel-header[b-iyatp241u5] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    background: var(--riot-hextechblack);
    color: white;
    height: 32px;
}

    .parameter-overlay-panel-header .title[b-iyatp241u5] {
        font-size: 16px;
        font-weight: 600;
    }

.parameter-overlay-content[b-iyatp241u5] {
    padding: 15px;
    border-radius: 4px;
    gap: 20px;
    overflow-y: auto;
    z-index: 9999;
}

.parameter-close-btn[b-iyatp241u5] {
    top: 10px;
    right: 10px;
    background: #aa0000;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

@media(max-width: 768px) {

    .parameter-overlay-panel[b-iyatp241u5] {
        width: 90vw;
    }

    .parameter-overlay-panel-header button[b-iyatp241u5] {
        font-size: 10px;
    }

    .parameter-overlay-panel-header .title[b-iyatp241u5] {
        font-size: 12px;
    }

}
/* /BlazorComp/Champions/ResetQuestions.razor.rz.scp.css */
    .answer-btn.selected[b-tdvvf5rz4p] {
        border-color: gold;
        color: gold;
        font-weight: bold;
        transform: scale(1.05);
    }
/* /BlazorComp/Champions/YesNoQuestion.razor.rz.scp.css */

    .answer-btn.good[b-ckhk8f5edl] {
        border-color: #2ecc71;
        color: #2ecc71;
        font-weight: bold;
        transform: scale(1.05);
    }

    .answer-btn.bad[b-ckhk8f5edl] {
        border-color: #e74c3c;
        color: #e74c3c;
        font-weight: bold;
        transform: scale(1.05);
    }
/* /BlazorComp/Items/ItemNode.razor.rz.scp.css */
.tree-level[b-jdvnui624p] {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
    margin-top: 20px;
}

    .tree-level.multi-child[b-jdvnui624p]::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 10%;
        right: 10%;
        height: 2px;
        background: #aaa;
        border-radius: 2px;
    }

    .tree-level.multi-child > .tree-node.has-children[b-jdvnui624p]::before,
    .tree-level.multi-child > .tree-node.leaf[b-jdvnui624p]::before {
        content: "";
        position: absolute;
        top: -10px; 
        left: 50%;
        width: 2px;
        height: 10px;
        background: #aaa;
        border-radius: 2px;
    }


.tree-node[b-jdvnui624p] {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

    .tree-node img[b-jdvnui624p] {
        width: 64px;
        height: 64px;
        border-radius: 4px;
        border: 1px solid var(--riot-gold5);
        cursor: pointer;
    }

    .tree-node.has-children[b-jdvnui624p]::after {
        content: "";
        position: absolute;
        top: 48px;
        left: 50%;
        width: 2px;
        height: 20px;
        background: #aaa;
        border-radius: 2px;
    }


@media (max-width: 768px) {
    .tree-node img[b-jdvnui624p] {
        width: 38px;
        height: 38px;
    }

    .tree-level[b-jdvnui624p] {
        display: flex;
        justify-content: center;
        gap: 5px;
        position: relative;
        margin-top: 20px;
    }
}

/* /BlazorComp/Items/ItemsHoverOverlay.razor.rz.scp.css */

.item-overlay[b-pit363jjkn] {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(var(--x), var(--y));

    background: var(--riot-hextechblack);

    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--riot-gold4);
    width: 320px;
    z-index: 999;
    pointer-events: none;
}

.overlay-top[b-pit363jjkn] {
    display: grid;
    grid-template-columns: 48px 1fr auto;
    gap: 12px;
    align-items: center;
    margin-bottom: 10px;
}

.overlay-icon[b-pit363jjkn] {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid var(--riot-gold5);
}

.overlay-info[b-pit363jjkn] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-name[b-pit363jjkn] {
    font-weight: bold;
    font-size: 16px;
}

.overlay-price[b-pit363jjkn] {    
    font-size: 14px;
    color: var(--riot-gold4);
    font-weight: bold;
}

.overlay-sell[b-pit363jjkn] {
    font-size: 14px;
    color: var(--riot-gold3);
}

.overlay-description[b-pit363jjkn] {
    font-size: 14px;
    line-height: 1.3;
    color: #ccc;
    margin-top: 8px;
}


@media (max-width: 768px) {
    .item-overlay[b-pit363jjkn] {
        max-width: 90vw;
    }
}
/* /BlazorComp/Items/ScoreboardRow.razor.rz.scp.css */
.scoreboard-overlay-background[b-tyu1o32k2c] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.scoreboard-overlay-panel[b-tyu1o32k2c] {
    background: var(--riot-blue5);
    width: 80vw;
    height: 80vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 12px;
    border: 1px solid var(--riot-gold5);
}

    .scoreboard-overlay-panel[b-tyu1o32k2c]::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.55);
        pointer-events: none;
        z-index: 0;
    }

    .scoreboard-overlay-panel > *[b-tyu1o32k2c] {
        position: relative;
        z-index: 1;
    }

.scoreboard-overlay-panel-header[b-tyu1o32k2c] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    padding-right: 0px;
    background: var(--riot-hextechblack);
    height: 32px;
}

    .scoreboard-overlay-panel-header .title[b-tyu1o32k2c] {
        font-size: 16px;
        font-weight: 600;
    }

    .scoreboard-overlay-panel-header .tab-btn[b-tyu1o32k2c] {
        border: none;
        background: #ddd;
        cursor: pointer;
        border-radius: 4px;
    }

    .scoreboard-overlay-panel-header .next-btn[b-tyu1o32k2c] {
        border: none;
        background: #ddd;
        cursor: pointer;
        border-radius: 4px;
        margin-left: auto;
    }

    .scoreboard-overlay-panel-header .close-btn[b-tyu1o32k2c] {
        top: 10px;
        right: 10px;
        background: #aa0000;
        border: none;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        margin-left: auto;
    }


.scoreboard-row[b-tyu1o32k2c] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.side[b-tyu1o32k2c] {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 5px 5px 20px 5px;
    box-sizing: border-box;
    align-items: stretch;
    min-height: auto;
    overflow: visible;
}

    .side.left[b-tyu1o32k2c] {
        align-items: flex-end;
    }

    .side.right[b-tyu1o32k2c] {
        align-items: flex-start;
    }

    .side:hover[b-tyu1o32k2c] {
        border-color: var(--riot-gold);
    }

    .side.good[b-tyu1o32k2c] {
        border-color: #2ecc71;
    }

    .side.bad[b-tyu1o32k2c] {
        border-color: #e74c3c;
    }

    .side.disabled[b-tyu1o32k2c] {
        pointer-events: none;
    }

.champion-name[b-tyu1o32k2c] {
    font-weight: bold;
    text-align: center;
}

/* ALIGNEMENT HORIZONTAL */
.row-container-left[b-tyu1o32k2c] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

    .row-container-left > :nth-child(1)[b-tyu1o32k2c] {
        flex: 0 0 50%;
    }

    .row-container-left > :nth-child(2)[b-tyu1o32k2c] {
        flex: 0 0 15%;
    }

    .row-container-left > :nth-child(3)[b-tyu1o32k2c] {
        flex: 0 0 15%;
    }

    .row-container-left > :nth-child(4)[b-tyu1o32k2c] {
        flex: 0 0 20%;
    }

.row-container-right[b-tyu1o32k2c] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

    .row-container-right > :nth-child(1)[b-tyu1o32k2c] {
        flex: 0 0 15%;
    }

    .row-container-right > :nth-child(2)[b-tyu1o32k2c] {
        flex: 0 0 15%;
    }

    .row-container-right > :nth-child(3)[b-tyu1o32k2c] {
        flex: 0 0 20%;
    }

    .row-container-right > :nth-child(4)[b-tyu1o32k2c] {
        flex: 0 0 50%;
    }



.items-block[b-tyu1o32k2c] {
    display: flex;
    gap: 6px;
}

.item[b-tyu1o32k2c], .trinket[b-tyu1o32k2c] {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

    .item img[b-tyu1o32k2c] {
        flex: 0 0 90%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2px;
        border: 1px solid var(--riot-grey5);
    }

    .item .caption[b-tyu1o32k2c] {
        padding: 4px;
        font-size: 12px;
        text-align: center;
    }

.champion-block[b-tyu1o32k2c] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.champion-icon[b-tyu1o32k2c] {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

@media (max-width: 768px) {

    .scoreboard-overlay-panel[b-tyu1o32k2c] {
        width: 95vw;
        height: 75vh;
        margin-top: 10vh;
    }

    .scoreboard-overlay-panel-header[b-tyu1o32k2c] {
    }

        .scoreboard-overlay-panel-header .title[b-tyu1o32k2c] {
            font-size: clamp(5px, 3vw, 13px); 
        }
        

        .scoreboard-overlay-panel-header .close-btn[b-tyu1o32k2c] {
            visibility: hidden;
        }
        .scoreboard-overlay-panel-header input[b-tyu1o32k2c] {
            width: 25vw;
        }

    .scoreboard-row[b-tyu1o32k2c] {
        gap: clamp(5px, 2vh, 25px) 5px;
    }

    .side[b-tyu1o32k2c] {
        padding: 5px 5px clamp(3px, 1vh, 20px) 5px;
    }

    .row-container-left[b-tyu1o32k2c], .row-container-right[b-tyu1o32k2c] {
        gap: 1px;
    }

    .items-block[b-tyu1o32k2c] {
        display: flex;
        gap: 2px;
    }

    .champion-icon[b-tyu1o32k2c] {
        width: clamp(16px, 7vw, 32px);
        height: clamp(16px, 7vw, 32px);
    }
    
    .item[b-tyu1o32k2c] {
        width: clamp(14px, 5vw, 24px);
        height: clamp(14px, 5vw, 24px);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
    }

        .item .caption[b-tyu1o32k2c] {
            padding: 0px;
            font-size: clamp(8px, 2.3vw, 16px);
            text-align: center;
        }
}
/* /BlazorComp/Loader.razor.rz.scp.css */
.loading-center-text[b-1sbytb8qt7] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
/* /BlazorComp/Runes/RunesOverlay.razor.rz.scp.css */
.rune-overlay[b-tjbv1kx5w7] {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(var(--x), var(--y));

    background: rgba(10, 10, 15, 0.95);
    border: 1px solid var(--riot-gold2);
    padding: 12px;
    border-radius: 1px;
    max-width: 400px;
    z-index: 9999;

    pointer-events: none;
}


@media (max-width: 768px) {
    .rune-overlay[b-tjbv1kx5w7] {
        max-width: 90vw;
    }
}
/* /BlazorComp/Toggle.razor.rz.scp.css */
.toggle-container[b-764e6lwt5d] {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch[b-764e6lwt5d] {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

    .switch input[b-764e6lwt5d] {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider[b-764e6lwt5d] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .3s;
    border-radius: 26px;
}

    .slider[b-764e6lwt5d]:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: .3s;
        border-radius: 50%;
    }

input:checked + .slider[b-764e6lwt5d] {
    background-color: #4CAF50;
}

    input:checked + .slider[b-764e6lwt5d]:before {
        transform: translateX(24px);
    }
/* /BlazorComp/VideoSpoiler.razor.rz.scp.css */
.video-container[b-z12mypz240] {
    position: relative;
    display: inline-block;
    margin-bottom: 15px ;
}

.spoiler-overlay[b-z12mypz240] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(40px);
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    transition: opacity 0.3s ease;
    z-index: 10;
}

    .spoiler-overlay.hidden[b-z12mypz240] {
        opacity: 0;
        pointer-events: none;
    }

.spoiler-text[b-z12mypz240] {
    padding: 12px 20px;
    background: rgba(0,0,0,0.6);
    border-radius: 8px;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-xss5pbwf0s] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-xss5pbwf0s] {
    flex: 1;
}

.sidebar[b-xss5pbwf0s] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    /*background-image: linear-gradient(180deg, #005A82 0%, #C89B3C 100%);*/
}

@media (min-width: 641px) {
    .page[b-xss5pbwf0s] {
        flex-direction: row;
    }

    .sidebar[b-xss5pbwf0s] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xss5pbwf0s] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-xss5pbwf0s]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-xss5pbwf0s], article[b-xss5pbwf0s] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-4hntg9t9z8] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-4hntg9t9z8] {
    min-height: 3.5rem;
    background-color: #111111;
}

.navbar-brand[b-4hntg9t9z8] {
    font-size: 1.1rem;
}

.flex-column[b-4hntg9t9z8]{
    height: 100%;
}

.nav-item[b-4hntg9t9z8] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    color: var(--riot-gold1);
}

    .nav-item:first-of-type[b-4hntg9t9z8] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-4hntg9t9z8] {
        padding-bottom: 1rem;
    }

    .nav-item[b-4hntg9t9z8]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-4hntg9t9z8]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-4hntg9t9z8]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.push-bottom[b-4hntg9t9z8] {
    margin-top: auto;
}

@media (min-width: 641px) {
    .navbar-toggler[b-4hntg9t9z8] {
        display: none;
    }

    .collapse[b-4hntg9t9z8] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-4hntg9t9z8] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/ClassicChampions.razor.rz.scp.css */
.base-card[b-ssmbsp8shi] {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

    .base-card img[b-ssmbsp8shi] {
        width: 90px;
        height: 90px;
        border-radius: 2px;
        border: 2px solid var(--riot-grey4);
        transition: transform 0.2s ease;
    }

    .base-card.completed img[b-ssmbsp8shi] {
        border: 3px solid lawngreen;
        transform: scale(1.05);
    }

    .base-card:hover img[b-ssmbsp8shi] {
        box-shadow: 0 0 10px var(--riot-gold1);
    }

    .base-card span[b-ssmbsp8shi] {
        margin-top: 6px;
        font-size: 14px;
        color: white;
        text-align: center;
    }


.base-grid[b-ssmbsp8shi] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 15px;
    padding: 15px;
}


@media(max-width: 768px) {
    .base-grid[b-ssmbsp8shi] {
        gap: 5px;
        padding: 5px;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    }

    .base-card img[b-ssmbsp8shi] {
        width: 60px;
        height: 60px;
        transition: transform 0.2s ease;
    }

    .base-card.completed img[b-ssmbsp8shi] {
        border: 2px solid lawngreen;
    }
}
/* /Pages/ClassicItems.razor.rz.scp.css */
.shop-container[b-vhc55qnf3k] {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    height: 100%; 
    overflow: hidden;
}

/* #region Colonne gauche : ItemList */

.item-list[b-vhc55qnf3k] {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48px);
    gap: 20px;
    padding: 10px;
    overflow-y: auto;
    align-content: start;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
    /* Chrome, Edge, Safari */
    .item-list[b-vhc55qnf3k]::-webkit-scrollbar {
        width: 6px; 
        background: transparent; 
    }
    .item-list[b-vhc55qnf3k]::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 4px; 
    }
    .item-list[b-vhc55qnf3k]::-webkit-scrollbar-track {
        background: transparent; 
    }

.item-cell[b-vhc55qnf3k] {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
    .item-cell img[b-vhc55qnf3k] {
        height: 48px;
        width: 48px;
        border-radius: 2px;
        border: 1px solid var(--riot-gold5);
    }
    .item-cell:hover[b-vhc55qnf3k] {
        box-shadow: 0 0 10px var(--riot-gold3);
    }

/* #endregion */
.item-details[b-vhc55qnf3k], .item-list[b-vhc55qnf3k] {
    height: 85vh;
}
/* #region Colonne Droite */
.item-details[b-vhc55qnf3k] {
    display: grid;
    grid-template-rows: 20% 40% 40%;
    overflow: hidden;
    gap: 10px;
}
    .build-into[b-vhc55qnf3k] {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent;
    }
    .build-tree[b-vhc55qnf3k] {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent; 
    }
    .description[b-vhc55qnf3k] {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent; 
    }


.section[b-vhc55qnf3k] {
    margin-bottom: 20px;
}

.horizontal-icons[b-vhc55qnf3k] {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}
    .horizontal-icons img[b-vhc55qnf3k] {
        width: 36px;
        height: 36px;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid var(--riot-gold5);
    }
        .horizontal-icons img:hover[b-vhc55qnf3k] {
            transform: scale(1.05);
        }

    .build-tree[b-vhc55qnf3k] {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .tree-root
        .tree-root[b-vhc55qnf3k]::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            width: 2px;
            height: 20px;
            background: #aaa;
        }


/* #region Description */

.section.description[b-vhc55qnf3k] {
    border: 1px solid var(--riot-gold5);
    padding: 10px;
}
.description-top[b-vhc55qnf3k] {
    display: grid;
    grid-template-columns: 48px 1fr auto;
    gap: 12px;
    align-items: center;
    margin-bottom: 10px;
}

    .description-top img[b-vhc55qnf3k] {
        width: 48px;
        height: 48px;
        border-radius: 4px;
        border: 1px solid var(--riot-gold5);
    }

.description-top-info[b-vhc55qnf3k] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-top-name[b-vhc55qnf3k] {
    font-weight: bold;
    font-size: 16px;
    color : white;
}

.description-top-price[b-vhc55qnf3k] {
    font-size: 14px;
    color: #d4a017;
    font-weight: bold;
}

.description-top-sell[b-vhc55qnf3k] {
    font-size: 14px;
    color: #d4a017;
}

.item-description[b-vhc55qnf3k] {
    font-size: 14px;
    line-height: 1.3;
    color: #ccc;
    margin-top: 8px;
}

/* #endregion */
/* #endregion */

@media (max-width: 768px) {
    .shop-container[b-vhc55qnf3k] {
        grid-template-columns: 40% 1fr;
        gap: 10px;
    }

    .item-list[b-vhc55qnf3k] {
        grid-template-columns: repeat(auto-fill, 40px);
        gap: 8px;
    }

    .item-cell img[b-vhc55qnf3k] {
        height: 40px;
        width: 40px;
    }

    .horizontal-icons[b-vhc55qnf3k] {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .item-details[b-vhc55qnf3k] {
        grid-template-rows: 15% 25% 60%;
        gap: 8px;
    }
}
/* /Pages/HomePage.razor.rz.scp.css */
.base-card[b-1vhxtoq2px] {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

    .base-card img[b-1vhxtoq2px] {
        width: 90px;
        height: 90px;
        border-radius: 2px;
        border: 2px solid var(--riot-grey4);
        transition: transform 0.2s ease;
    }

    .base-card.completed img[b-1vhxtoq2px] {
        border: 3px solid lawngreen;
        transform: scale(1.05);
    }

    .base-card:hover img[b-1vhxtoq2px] {
        box-shadow: 0 0 10px var(--riot-gold1);
    }

    .base-card span[b-1vhxtoq2px] {
        margin-top: 6px;
        font-size: 14px;
        color: white;
        text-align: center;
    }


.base-grid[b-1vhxtoq2px] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 15px;
    padding: 15px;
}


@media(max-width: 768px) {
    .base-grid[b-1vhxtoq2px] {
        gap: 5px;
        padding: 5px;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    }

    .base-card img[b-1vhxtoq2px] {
        width: 60px;
        height: 60px;
        transition: transform 0.2s ease;
    }

    .base-card.completed img[b-1vhxtoq2px] {
        border: 2px solid lawngreen;
    }
}
/* /Pages/ItemShop.razor.rz.scp.css */
.shop-container[b-whijdjgq14] {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    height: 100%; 
    overflow: hidden;
}

/* #region Colonne gauche : ItemList */

.item-list[b-whijdjgq14] {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48px);
    gap: 20px;
    padding: 10px;
    overflow-y: auto;
    align-content: start;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
    /* Chrome, Edge, Safari */
    .item-list[b-whijdjgq14]::-webkit-scrollbar {
        width: 6px; 
        background: transparent; 
    }
    .item-list[b-whijdjgq14]::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 4px; 
    }
    .item-list[b-whijdjgq14]::-webkit-scrollbar-track {
        background: transparent; 
    }

.item-cell[b-whijdjgq14] {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
    .item-cell img[b-whijdjgq14] {
        height: 48px;
        width: 48px;
        border-radius: 2px;
        border: 1px solid var(--riot-gold5);
    }
    .item-cell:hover[b-whijdjgq14] {
        box-shadow: 0 0 10px var(--riot-gold3);
    }

/* #endregion */
.item-details[b-whijdjgq14], .item-list[b-whijdjgq14] {
    height: 85vh;
}
/* #region Colonne Droite */
.item-details[b-whijdjgq14] {
    display: grid;
    grid-template-rows: 20% 40% 40%;
    overflow: hidden;
    gap: 10px;
}
    .build-into[b-whijdjgq14] {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent;
    }
    .build-tree[b-whijdjgq14] {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent; 
    }
    .description[b-whijdjgq14] {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent; 
    }


.section[b-whijdjgq14] {
    margin-bottom: 20px;
}

.horizontal-icons[b-whijdjgq14] {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}
    .horizontal-icons img[b-whijdjgq14] {
        width: 36px;
        height: 36px;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid var(--riot-gold5);
    }
        .horizontal-icons img:hover[b-whijdjgq14] {
            transform: scale(1.05);
        }

    .build-tree[b-whijdjgq14] {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .tree-root
        .tree-root[b-whijdjgq14]::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            width: 2px;
            height: 20px;
            background: #aaa;
        }


/* #region Description */

.section.description[b-whijdjgq14] {
    border: 1px solid var(--riot-gold5);
    padding: 10px;
}
.description-top[b-whijdjgq14] {
    display: grid;
    grid-template-columns: 48px 1fr auto;
    gap: 12px;
    align-items: center;
    margin-bottom: 10px;
}

    .description-top img[b-whijdjgq14] {
        width: 48px;
        height: 48px;
        border-radius: 4px;
        border: 1px solid var(--riot-gold5);
    }

.description-top-info[b-whijdjgq14] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-top-name[b-whijdjgq14] {
    font-weight: bold;
    font-size: 16px;
    color : white;
}

.description-top-price[b-whijdjgq14] {
    font-size: 14px;
    color: #d4a017;
    font-weight: bold;
}

.description-top-sell[b-whijdjgq14] {
    font-size: 14px;
    color: #d4a017;
}

.item-description[b-whijdjgq14] {
    font-size: 14px;
    line-height: 1.3;
    color: #ccc;
    margin-top: 8px;
}

/* #endregion */
/* #endregion */

@media (max-width: 768px) {
    .shop-container[b-whijdjgq14] {
        grid-template-columns: 40% 1fr;
        gap: 10px;
    }

    .item-list[b-whijdjgq14] {
        grid-template-columns: repeat(auto-fill, 40px);
        gap: 8px;
    }

    .item-cell img[b-whijdjgq14] {
        height: 40px;
        width: 40px;
    }

    .horizontal-icons[b-whijdjgq14] {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .item-details[b-whijdjgq14] {
        grid-template-rows: 15% 25% 60%;
        gap: 8px;
    }
}
/* /Pages/RunesPage.razor.rz.scp.css */

/* Conteneur général */
.rune-selector[b-sq4hau9kq1] {
    display: flex;
    gap: 50px;
    padding: 20px;
    color: var(--riot-text);
}

/* Centrer les deux colonnes */
.primary-runes[b-sq4hau9kq1],
.secondary-runes[b-sq4hau9kq1] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/* Conteneurs horizontaux proportionnels */
.rune-types[b-sq4hau9kq1],
.keystones[b-sq4hau9kq1],
.slot[b-sq4hau9kq1],
.slot-runes[b-sq4hau9kq1] {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly; 
    align-items: center;
    width: 100%;
}

.rune-type[b-sq4hau9kq1],
.keystone[b-sq4hau9kq1],
.slot-rune[b-sq4hau9kq1] {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Catégories (Rune Types) */
.rune-type[b-sq4hau9kq1] {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    filter: brightness(70%);
}

    .rune-type img[b-sq4hau9kq1] {
        width: 30px;
        height: 30px;
        border-radius: 50%; 
        margin: 0;
    }

    .rune-type:hover[b-sq4hau9kq1] {
        filter: brightness(110%);
    }

    .rune-type.selected[b-sq4hau9kq1] {
        border: 1px solid var(--riot-runes-border);
    }


/* Keystones */
.keystone[b-sq4hau9kq1] {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
}

    .keystone img[b-sq4hau9kq1] {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 3px solid var(--riot-runes-border);
    }

    .keystone:hover img[b-sq4hau9kq1], .keystone.grayed:hover img[b-sq4hau9kq1] {
        border-color: var(--riot-runes-border);
        filter: grayscale(0%) brightness(100%) ;
        opacity: 1;
        outline: 1px solid var(--riot-runes-border);
        outline-offset: 5px;
    }

    .keystone.grayed img[b-sq4hau9kq1] {
        filter: grayscale(80%) brightness(80%);
        opacity: 0.4;
    }

    .keystone.selected img[b-sq4hau9kq1] {
        transform: scale(1.18);
    }

/* Runes normales */
.slot[b-sq4hau9kq1] {
    margin-top: 20px;
}

    .slot h4[b-sq4hau9kq1] {
        color: var(--riot-gold);
        margin-bottom: 8px;
    }

.slot-rune[b-sq4hau9kq1] {
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
}

    .slot-rune img[b-sq4hau9kq1] {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid var(--riot-runes-border);
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }

    .slot-rune:hover img[b-sq4hau9kq1], .slot-rune.grayed:hover img[b-sq4hau9kq1] {
        border-color: var(--riot-runes-border);
        filter: grayscale(0%) brightness(100%) ;
        opacity: 1;
        outline: 1px solid var(--riot-runes-border);
        outline-offset: 5px;
    }

    .slot-rune.grayed img[b-sq4hau9kq1] {
        filter: grayscale(80%) brightness(80%);
        opacity: 0.4;
    }

@media (max-width: 768px) {
    .rune-selector[b-sq4hau9kq1] {
        flex-direction: column;
    }
}
