/* /BlazorComp/Overlay/ChampionOverlay.razor.rz.scp.css */
.overlay-background[b-k2ym3ek03g] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-panel[b-k2ym3ek03g] {
    background: #111;
    border-radius: 12px;
    width: 80vw; 
    max-width: 1000px; 

    height: 80vh; 
    max-height: 900px; 

    overflow: hidden; 
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

    .overlay-panel[b-k2ym3ek03g]::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.55); 
        pointer-events: none;
        z-index: 0;
    }
    .overlay-panel > *[b-k2ym3ek03g] {
        position: relative;
        z-index: 1; 
    }

.overlay-panel-header[b-k2ym3ek03g] {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 8px 12px;
    background: #1e1e1e;
    color: white;
    height: 32px;
}

.overlay-panel-header .title[b-k2ym3ek03g] {
    font-size: 16px;
    font-weight: 600;
}
.tab-btn[b-k2ym3ek03g] {
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 4px;
}

    .tab-btn.active[b-k2ym3ek03g] {
        background: #4287f5;
        color: white;
    }

.close-btn[b-k2ym3ek03g] {
    top: 10px;
    right: 10px;
    background: #aa0000;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}


.overlay-question-content[b-k2ym3ek03g] {
    padding: 15px;
    border-radius: 4px;
    gap: 20px;
    overflow-y: auto;
    z-index: 9999;
}

.overlay-champion-content[b-k2ym3ek03g] {
    padding: 15px;
    border-radius: 4px;
    display: flex;
    gap: 20px;
    overflow-y: auto;
    z-index: 9999;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.spells-column[b-k2ym3ek03g] {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.spell-card[b-k2ym3ek03g] {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    background: #1e1e1e;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

    .spell-card:hover[b-k2ym3ek03g] {
        transform: scale(1.05);
    }

    .spell-card img[b-k2ym3ek03g] {
        width: 50px;
        height: 50px;
    }

    .spell-card.selected[b-k2ym3ek03g] {
        background: #555;
        border: 2px solid #aaa;
        transform: scale(1.05);
    }

.spell-details[b-k2ym3ek03g] {

}

.spell-description[b-k2ym3ek03g] {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    background: #1e1e1e;
    border-radius: 8px;
}

video[b-k2ym3ek03g] {
    background-color: black;
    min-height: 400px;
}

@media(max-width: 768px) {
    video[b-k2ym3ek03g] {
        min-height: 100px;
    }

    .overlay-panel[b-k2ym3ek03g] {
        width: 90vw;
    }

    .overlay-panel-header button[b-k2ym3ek03g] {
        font-size: 10px;
    }

    .overlay-panel-header .title[b-k2ym3ek03g] {
        font-size: 12px;
    }


    .overlay-champion-content[b-k2ym3ek03g] {
        display: block;
    }



    .spell-description[b-k2ym3ek03g] {
        margin-top: 10px;
        font-size: 12px;
    }

    .spell-card img[b-k2ym3ek03g] {
        width: 25px;
        height: 25px;
    }

    .spell-card span[b-k2ym3ek03g] {
        font-size: 10px;
    }

    .spells-column[b-k2ym3ek03g] {
        width: 30%;
        display: contents;
        flex-direction: row;
        gap: 2px;
    }

    .tab-content[b-k2ym3ek03g] {
        display: grid;
        gap: 5px;
    }

}
/* /BlazorComp/Overlay/ItemNode.razor.rz.scp.css */
.tree-level[b-316sybpmqt] {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
    margin-top: 20px;
}

    .tree-level.multi-child[b-316sybpmqt]::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 10%;
        right: 10%;
        height: 2px;
        background: #aaa;
        border-radius: 2px;
    }

    .tree-level.multi-child > .tree-node.has-children[b-316sybpmqt]::before,
    .tree-level.multi-child > .tree-node.leaf[b-316sybpmqt]::before {
        content: "";
        position: absolute;
        top: -10px; 
        left: 50%;
        width: 2px;
        height: 10px;
        background: #aaa;
        border-radius: 2px;
    }


.tree-node[b-316sybpmqt] {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

    .tree-node img[b-316sybpmqt] {
        width: 64px;
        height: 64px;
        border-radius: 6px;
        border: 1px solid var(--riot-gold);
        cursor:pointer;
    }

    .tree-node.has-children[b-316sybpmqt]::after {
        content: "";
        position: absolute;
        top: 48px;
        left: 50%;
        width: 2px;
        height: 20px;
        background: #aaa;
        border-radius: 2px;
    }


@media (max-width: 641px) {
    .tree-node img[b-316sybpmqt] {
        width: 38px;
        height: 38px;
        border-radius: 6px;
        border: 1px solid var(--riot-gold);
        cursor: pointer;
    }

    .tree-level[b-316sybpmqt] {
        display: flex;
        justify-content: center;
        gap: 5px;
        position: relative;
        margin-top: 20px;
    }

}

/* /BlazorComp/Overlay/ItemsOverlay.razor.rz.scp.css */

.item-overlay[b-ex71nv19yx] {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(var(--x), var(--y));

    background: #1a1a1a;
    color: #eee;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--riot-gold);
    width: 320px;
    z-index: 999;

    pointer-events: none;
}

.overlay-top[b-ex71nv19yx] {
    display: grid;
    grid-template-columns: 48px 1fr auto;
    gap: 12px;
    align-items: center;
    margin-bottom: 10px;
}

.overlay-icon[b-ex71nv19yx] {
    width: 48px;
    height: 48px;
    border-radius: 6px;
}

.overlay-info[b-ex71nv19yx] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-name[b-ex71nv19yx] {
    font-weight: bold;
    font-size: 16px;
}

.overlay-price[b-ex71nv19yx] {
    font-size: 14px;
    color: #d4a017;
    font-weight: bold;
}

.overlay-sell[b-ex71nv19yx] {
    font-size: 14px;
    color: #d4a017; 
}

.overlay-description[b-ex71nv19yx] {
    font-size: 14px;
    line-height: 1.3;
    color: #ccc;
    margin-top: 8px;
}


@media (max-width: 641px) {
    .item-overlay[b-ex71nv19yx] {
        max-width: 90vw;
    }
}
/* /BlazorComp/Overlay/ParameterOverlay.razor.rz.scp.css */
.parameter-overlay-background[b-onifyynwiy] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.parameter-overlay-panel[b-onifyynwiy] {
    background: #111;
    border-radius: 12px;
    width: 80vw;
    max-width: 1000px;
    height: 80vh;
    max-height: 900px;
    overflow: hidden;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

    .parameter-overlay-panel[b-onifyynwiy]::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.55);
        pointer-events: none;
        z-index: 0;
    }

    .parameter-overlay-panel > *[b-onifyynwiy] {
        position: relative;
        z-index: 1;
    }

.parameter-overlay-panel-header[b-onifyynwiy] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    background: #1e1e1e;
    color: white;
    height: 32px;
}

    .parameter-overlay-panel-header .title[b-onifyynwiy] {
        font-size: 16px;
        font-weight: 600;
    }

.parameter-overlay-content[b-onifyynwiy] {
    padding: 15px;
    border-radius: 4px;
    gap: 20px;
    overflow-y: auto;
    z-index: 9999;
}

.parameter-close-btn[b-onifyynwiy] {
    top: 10px;
    right: 10px;
    background: #aa0000;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

@media(max-width: 768px) {

    .parameter-overlay-panel[b-onifyynwiy] {
        width: 90vw;
    }

    .parameter-overlay-panel-header button[b-onifyynwiy] {
        font-size: 10px;
    }

    .parameter-overlay-panel-header .title[b-onifyynwiy] {
        font-size: 12px;
    }

}
/* /BlazorComp/Overlay/RunesOverlay.razor.rz.scp.css */
.rune-overlay[b-c4690mtvv2] {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(var(--x), var(--y));

    background: rgba(10, 10, 15, 0.95);
    border: 1px solid var(--riot-gold);
    padding: 12px;
    border-radius: 1px;
    max-width: 400px;
    z-index: 9999;

    pointer-events: none;
}


@media (max-width: 641px) {
    .rune-overlay[b-c4690mtvv2] {
        max-width: 90vw;
    }
}
/* /BlazorComp/QuestionsType/CheckboxQuestion.razor.rz.scp.css */
.multiple-checkbox-question[b-p6n63hrn6q] {

}
.multiple-checkbox-question-content[b-p6n63hrn6q] {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: #1e1e1e;
}

.spell-answer-display[b-p6n63hrn6q] {
    gap: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
    .spell-answer-display img[b-p6n63hrn6q] {
        width: 35px;
        height: 35px;
    }
    .spell-answer-display span[b-p6n63hrn6q] {
        font-size: 1rem;
    }
    .spell-answer-display video[b-p6n63hrn6q] {
        
    }
.question-text[b-p6n63hrn6q] {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
}

.answers[b-p6n63hrn6q] {
    display: flex;
    gap: 15px;
}

.comment-block[b-p6n63hrn6q] {
    margin-top: 20px;
    padding: 12px;
    background: #eef5ff;
    border-left: 4px solid #3498db;
    border-radius: 6px;
    color: black;
}

.next-container[b-p6n63hrn6q] {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.next-btn[b-p6n63hrn6q] {
    padding: 10px 18px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
}

    .next-btn:hover[b-p6n63hrn6q] {
        background: #2980b9;
    }


.options-container[b-p6n63hrn6q] {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.option-box[b-p6n63hrn6q] {
    width: 5rem;
    height: auto;
    min-height: 5rem;
    border: 2px solid transparent;
    border-color: lightgrey;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s, transform 0.1s;
    background: #1e1e1e;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}
    .option-box:hover[b-p6n63hrn6q] {
        transform: scale(1.03);
    }
    .option-box.selected[b-p6n63hrn6q] {
        border-color: #FFD700;
        transform: scale(1.05);
    }
    .option-box.disabled[b-p6n63hrn6q] {
        opacity: 0.5;
        pointer-events: none;
    }

    .option-box.good[b-p6n63hrn6q] {
        border-color: #2ecc71;
        color: #2ecc71;
        font-weight: bold;
    }
    .option-box.bad[b-p6n63hrn6q] {
        border-color: #e74c3c;
        color: #e74c3c;
        font-weight: bold;
    }
    .option-box.forgotten[b-p6n63hrn6q] {
        border-color: cyan;
        color: cyan;
        font-weight: bold;
    }

.option-icon[b-p6n63hrn6q] {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.option-label[b-p6n63hrn6q] {
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.hidden-checkbox[b-p6n63hrn6q] {
    display: none;
}

@media(max-width: 768px) {
    .options-container[b-p6n63hrn6q] {

    }
    .option-box[b-p6n63hrn6q] {
        width: 4rem;
        height: auto;
        min-height: 4rem;
    }

    .option-label[b-p6n63hrn6q] {
        font-size: 0.65rem;
    }
}
/* /BlazorComp/QuestionsType/GuessTheSpell.razor.rz.scp.css */
.multiple-checkbox-question[b-x3vmu797u4] {

}
.multiple-checkbox-question-content[b-x3vmu797u4] {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: #1e1e1e;
}

.spell-answer-display[b-x3vmu797u4] {
    gap: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
    .spell-answer-display img[b-x3vmu797u4] {
        width: 35px;
        height: 35px;
    }
    .spell-answer-display span[b-x3vmu797u4] {
        font-size: 1rem;
    }
    .spell-answer-display video[b-x3vmu797u4] {
        
    }
.question-text[b-x3vmu797u4] {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
}

.answers[b-x3vmu797u4] {
    display: flex;
    gap: 15px;
}

.comment-block[b-x3vmu797u4] {
    margin-top: 20px;
    padding: 12px;
    background: #eef5ff;
    border-left: 4px solid #3498db;
    border-radius: 6px;
    color: black;
}

.next-container[b-x3vmu797u4] {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.next-btn[b-x3vmu797u4] {
    padding: 10px 18px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
}

    .next-btn:hover[b-x3vmu797u4] {
        background: #2980b9;
    }


.options-container[b-x3vmu797u4] {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.option-box[b-x3vmu797u4] {
    width: 5rem;
    height: auto;
    min-height: 5rem;
    border: 2px solid transparent;
    border-color: lightgrey;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s, transform 0.1s;
    background: #1e1e1e;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}
    .option-box:hover[b-x3vmu797u4] {
        transform: scale(1.03);
    }
    .option-box.selected[b-x3vmu797u4] {
        border-color: #FFD700;
        transform: scale(1.05);
    }
    .option-box.disabled[b-x3vmu797u4] {
        opacity: 0.5;
        pointer-events: none;
    }

    .option-box.good[b-x3vmu797u4] {
        border-color: #2ecc71;
        color: #2ecc71;
        font-weight: bold;
    }
    .option-box.bad[b-x3vmu797u4] {
        border-color: #e74c3c;
        color: #e74c3c;
        font-weight: bold;
    }
    .option-box.forgotten[b-x3vmu797u4] {
        border-color: cyan;
        color: cyan;
        font-weight: bold;
    }

.option-icon[b-x3vmu797u4] {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.option-label[b-x3vmu797u4] {
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.hidden-checkbox[b-x3vmu797u4] {
    display: none;
}

@media(max-width: 768px) {
    .options-container[b-x3vmu797u4] {
        justify-content: center;
    }
    .option-box[b-x3vmu797u4] {
        width: 4rem;
        height: auto;
        min-height: 4rem;
    }

    .option-label[b-x3vmu797u4] {
        font-size: 0.65rem;
    }
}
/* /BlazorComp/QuestionsType/ResetQuestions.razor.rz.scp.css */
.yn-question[b-xbj9muk0mi] {

}
.yn-question-content[b-xbj9muk0mi] {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: #1e1e1e;
}

.question-text[b-xbj9muk0mi] {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
}

.answers[b-xbj9muk0mi] {
    display: flex;
    gap: 15px;
}

.answer-btn[b-xbj9muk0mi] {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #888;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    transition: 0.2s;
}

    .answer-btn:hover[b-xbj9muk0mi] {
        transform: scale(1.05);
    }

    .answer-btn.selected[b-xbj9muk0mi] {
        border-color: gold;
        color: gold;
        font-weight: bold;
        transform: scale(1.05);
    }

.next-container[b-xbj9muk0mi] {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.next-btn[b-xbj9muk0mi] {
    padding: 10px 18px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
}

    .next-btn:hover[b-xbj9muk0mi] {
        background: #2980b9;
    }
/* /BlazorComp/QuestionsType/YesNoQuestion.razor.rz.scp.css */
.yn-question[b-j9yklusk5s] {

}
.yn-question-content[b-j9yklusk5s] {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: #1e1e1e;
}

.spell-answer-display[b-j9yklusk5s] {
    gap: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
    .spell-answer-display img[b-j9yklusk5s] {
        width: 35px;
        height: 35px;
    }
    .spell-answer-display span[b-j9yklusk5s] {
        font-size: 1rem;
    }
    .spell-answer-display video[b-j9yklusk5s] {
        
    }
.question-text[b-j9yklusk5s] {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
}

.answers[b-j9yklusk5s] {
    display: flex;
    gap: 15px;
}

.answer-btn[b-j9yklusk5s] {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #888;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    transition: 0.2s;
}

    .answer-btn:hover[b-j9yklusk5s] {
        transform: scale(1.05);
    }

    .answer-btn.good[b-j9yklusk5s] {
        border-color: #2ecc71;
        color: #2ecc71;
        font-weight: bold;
        transform: scale(1.05);
    }

    .answer-btn.bad[b-j9yklusk5s] {
        border-color: #e74c3c;
        color: #e74c3c;
        font-weight: bold;
        transform: scale(1.05);
    }

.comment-block[b-j9yklusk5s] {
    margin-top: 20px;
    padding: 12px;
    background: #eef5ff;
    border-left: 4px solid #3498db;
    border-radius: 6px;
    color: black;
}

.next-container[b-j9yklusk5s] {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.next-btn[b-j9yklusk5s] {
    padding: 10px 18px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
}

    .next-btn:hover[b-j9yklusk5s] {
        background: #2980b9;
    }
/* /BlazorComp/Toggle.razor.rz.scp.css */
.toggle-container[b-764e6lwt5d] {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch[b-764e6lwt5d] {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

    .switch input[b-764e6lwt5d] {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider[b-764e6lwt5d] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .3s;
    border-radius: 26px;
}

    .slider[b-764e6lwt5d]:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: .3s;
        border-radius: 50%;
    }

input:checked + .slider[b-764e6lwt5d] {
    background-color: #4CAF50;
}

    input:checked + .slider[b-764e6lwt5d]:before {
        transform: translateX(24px);
    }
/* /BlazorComp/VideoSpoiler.razor.rz.scp.css */
.video-container[b-z12mypz240] {
    position: relative;
    display: inline-block;
    margin-bottom: 15px ;
}

.spoiler-overlay[b-z12mypz240] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(40px);
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    transition: opacity 0.3s ease;
    z-index: 10;
}

    .spoiler-overlay.hidden[b-z12mypz240] {
        opacity: 0;
        pointer-events: none;
    }

.spoiler-text[b-z12mypz240] {
    padding: 12px 20px;
    background: rgba(0,0,0,0.6);
    border-radius: 8px;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-xss5pbwf0s] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-xss5pbwf0s] {
    flex: 1;
}

.sidebar[b-xss5pbwf0s] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

@media (min-width: 641px) {
    .page[b-xss5pbwf0s] {
        flex-direction: row;
    }

    .sidebar[b-xss5pbwf0s] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xss5pbwf0s] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-xss5pbwf0s]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-xss5pbwf0s], article[b-xss5pbwf0s] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-4hntg9t9z8] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-4hntg9t9z8] {
    min-height: 3.5rem;
    background-color: #111111;
}

.navbar-brand[b-4hntg9t9z8] {
    font-size: 1.1rem;
}

.nav-item[b-4hntg9t9z8] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-4hntg9t9z8] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-4hntg9t9z8] {
        padding-bottom: 1rem;
    }

    .nav-item[b-4hntg9t9z8]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-4hntg9t9z8]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-4hntg9t9z8]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-4hntg9t9z8] {
        display: none;
    }

    .collapse[b-4hntg9t9z8] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-4hntg9t9z8] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/ItemShop.razor.rz.scp.css */
.shop-container[b-whijdjgq14] {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
}

/* #region Colonne gauche : ItemList */

.item-list[b-whijdjgq14] {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48px);
    gap: 20px;
    overflow-y: auto;
    height: 90vh;
    align-content: start;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
    /* Chrome, Edge, Safari */
    .item-list[b-whijdjgq14]::-webkit-scrollbar {
        width: 6px; 
        background: transparent; 
    }
    .item-list[b-whijdjgq14]::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 4px; 
    }
    .item-list[b-whijdjgq14]::-webkit-scrollbar-track {
        background: transparent; 
    }

.item-cell[b-whijdjgq14] {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
    .item-cell img[b-whijdjgq14] {
        height: 48px;
        width: 48px;
        border-radius: 6px;
        border: 1px solid var(--riot-gold);
    }
    .item-cell:hover[b-whijdjgq14] {
        transform: scale(1.05);
    }

/* #endregion */

/* #region Colonne Droite */
.item-details[b-whijdjgq14] {
    display: grid;
    grid-template-rows: 20% 40% 40%;
    height: 90vh; 
    overflow: hidden;
    gap: 10px;
}
    .build-into[b-whijdjgq14] {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent;
    }
    .build-tree[b-whijdjgq14] {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent; 
    }
    .description[b-whijdjgq14] {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent; 
    }


.section[b-whijdjgq14] {
    margin-bottom: 20px;
}

.horizontal-icons[b-whijdjgq14] {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}
    .horizontal-icons img[b-whijdjgq14] {
        width: 36px;
        height: 36px;
        border-radius: 6px;
        cursor: pointer;
        border: 1px solid var(--riot-gold);
    }

        .horizontal-icons img:hover[b-whijdjgq14] {
            transform: scale(1.05);
        }

    .build-tree[b-whijdjgq14] {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 20px;
    }

    .tree-root[b-whijdjgq14] {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 20px;
    }

        .tree-root[b-whijdjgq14]::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            width: 2px;
            height: 20px;
            background: #aaa;
        }


/* #region Description */

.description-top[b-whijdjgq14] {
    display: grid;
    grid-template-columns: 48px 1fr auto;
    gap: 12px;
    align-items: center;
    margin-bottom: 10px;
}

    .description-top img[b-whijdjgq14] {
        width: 48px;
        height: 48px;
        border-radius: 6px;
    }

.description-top-info[b-whijdjgq14] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-top-name[b-whijdjgq14] {
    font-weight: bold;
    font-size: 16px;
    color : white;
}

.description-top-price[b-whijdjgq14] {
    font-size: 14px;
    color: #d4a017;
    font-weight: bold;
}

.description-top-sell[b-whijdjgq14] {
    font-size: 14px;
    color: #d4a017;
}

.item-description[b-whijdjgq14] {
    font-size: 14px;
    line-height: 1.3;
    color: #ccc;
    margin-top: 8px;
}

/* #endregion */
/* #endregion */

@media (max-width: 641px) {
    .shop-container[b-whijdjgq14] {
        grid-template-columns: 40% 1fr;
        gap: 10px;
    }

    .item-list[b-whijdjgq14] {
        grid-template-columns: repeat(auto-fill, 40px);
        gap: 8px;
    }

    .item-cell img[b-whijdjgq14] {
        height: 40px;
        width: 40px;
        border-radius: 6px;
        border: 1px solid var(--riot-gold);
    }

    .horizontal-icons[b-whijdjgq14] {
        display: flex;
        flex-wrap: nowrap; 
        overflow-x: auto; 
        overflow-y: hidden; 
    }

    .item-details[b-whijdjgq14] {
        grid-template-rows: 15% 25% 60%;
        gap: 8px;
    }
}
/* /Pages/RunesPage.razor.rz.scp.css */

/* Conteneur général */
.rune-selector[b-sq4hau9kq1] {
    display: flex;
    gap: 50px;
    padding: 20px;
    color: var(--riot-text);
}

/* Centrer les deux colonnes */
.primary-runes[b-sq4hau9kq1],
.secondary-runes[b-sq4hau9kq1] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/* Conteneurs horizontaux proportionnels */
.rune-types[b-sq4hau9kq1],
.keystones[b-sq4hau9kq1],
.slot[b-sq4hau9kq1],
.slot-runes[b-sq4hau9kq1] {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly; 
    align-items: center;
    width: 100%;
}

.rune-type[b-sq4hau9kq1],
.keystone[b-sq4hau9kq1],
.slot-rune[b-sq4hau9kq1] {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Catégories (Rune Types) */
.rune-type[b-sq4hau9kq1] {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.25s ease;
    padding: 0;
    text-align: center;
    filter: brightness(70%);
}

    .rune-type img[b-sq4hau9kq1] {
        width: 30px;
        height: 30px;
        border-radius: 50%; 
        margin: 0;
    }

    .rune-type:hover[b-sq4hau9kq1] {
        filter: brightness(110%);
    }

    .rune-type.selected[b-sq4hau9kq1] {
        border: 1px solid var(--riot-runes-border);
    }


/* Keystones */
.keystone[b-sq4hau9kq1] {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.25s ease;
    border-radius: 50%;
}

    .keystone img[b-sq4hau9kq1] {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 3px solid var(--riot-runes-border);
        transition: 0.25s ease;
    }

    .keystone:hover img[b-sq4hau9kq1], .keystone.grayed:hover img[b-sq4hau9kq1] {
        border-color: var(--riot-runes-border);
        filter: grayscale(0%) brightness(100%) ;
        opacity: 1;
        outline: 1px solid var(--riot-runes-border);
        outline-offset: 5px;
    }

    .keystone.grayed img[b-sq4hau9kq1] {
        filter: grayscale(80%) brightness(80%);
        opacity: 0.4;
    }

    .keystone.selected img[b-sq4hau9kq1] {
        transform: scale(1.18);
    }

/* Runes normales */
.slot[b-sq4hau9kq1] {
    margin-top: 20px;
}

    .slot h4[b-sq4hau9kq1] {
        color: var(--riot-gold);
        margin-bottom: 8px;
    }

.slot-rune[b-sq4hau9kq1] {
    cursor: pointer;
    text-align: center;
    transition: 0.25s ease;
    border-radius: 50%;
}

    .slot-rune img[b-sq4hau9kq1] {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid var(--riot-runes-border);
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
        transition: 0.25s ease;
    }

    .slot-rune:hover img[b-sq4hau9kq1], .slot-rune.grayed:hover img[b-sq4hau9kq1] {
        border-color: var(--riot-runes-border);
        filter: grayscale(0%) brightness(100%) ;
        opacity: 1;
        outline: 1px solid var(--riot-runes-border);
        outline-offset: 5px;
    }

    .slot-rune.grayed img[b-sq4hau9kq1] {
        filter: grayscale(80%) brightness(80%);
        opacity: 0.4;
    }

@media (max-width: 641px) {
    .rune-selector[b-sq4hau9kq1] {
        flex-direction: column;
    }
}
